{{ define "main" }}

<article>
    <h1>{{ .Title }}</h1>

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}

    {{ $published := .PublishDate | time.Format ":date_medium" }}
    {{ $modified := .Lastmod | time.Format ":date_medium" }}
    
    {{ if ne $published $modified }}
    <span> Last modified: {{ $published }} {{ $modified }} </span>
    {{ end }}

</article>
{{ end }}
